<dt class="key-value-pair__key key-value-pair__key--inline">{{ fieldTitle }}</dt>
<dd class="key-value-pair__value">
  <input type="radio" value="0" name="{{ dataFieldName }}" data-bind="checked: {{ dataFieldName }}" class="" />
  No</label>
  <label>
  <input type="radio" value="1" name="{{ dataFieldName }}" data-bind="checked: {{ dataFieldName }}" class="" />
  Yes</label>
  <label>
  <input type="radio" value="2" name="{{ dataFieldName }}" data-bind="checked: {{ dataFieldName }}" class="" />
  Insufficient</label>
</dd>