<span class="key-value-pair__key key-value-pair__key--inline">{{ fieldTitle }}</span>
<span class="key-value-pair__value">
  <label class="form__label form__label--radio"><input type="radio" name="{{ dataFieldName }}" data-bind="checked: {{ dataFieldName }}, checkedValue:false" /> No</label>
  <label class="form__label form__label--radio"><input type="radio" name="{{ dataFieldName }}" data-bind="checked: {{ dataFieldName }}, checkedValue:true" /> Yes</label>
</span>