<dt class="key-value-pair__key key-value-pair__key--inline">{{ fieldTitle }}</dt>
<dd class="key-value-pair__value">
  <span class="form__rating-label">{{#if lowRatingLabel}}{{lowRatingLabel}}{{else}}very poor{{/if}}</span>
  <label class="form__label form__label--radio">
    <input type="radio" value="1" name="{{ dataFieldName }}" data-bind="checked: {{ dataFieldName }}" class="" />
  1</label>
  <label class="form__label form__label--radio">
    <input type="radio" value="2" name="{{ dataFieldName }}" data-bind="checked: {{ dataFieldName }}" class="" />
  2</label>
  <label class="form__label form__label--radio">
    <input type="radio" value="3" name="{{ dataFieldName }}" data-bind="checked: {{ dataFieldName }}" class="" />
  3</label>
  <label class="form__label form__label--radio">
    <input type="radio" value="4" name="{{ dataFieldName }}" data-bind="checked: {{ dataFieldName }}" class="" />
  4</label>
  <label class="form__label form__label--radio">
    <input type="radio" value="5" name="{{ dataFieldName }}" data-bind="checked: {{ dataFieldName }}" class="" />
  5</label>
  <span class="form__rating-label">{{#if highRatingLabel}}{{highRatingLabel}}{{else}}very good{{/if}}</span>
</dd>
