<dt class="key-value-pair__key key-value-pair__key--inline">{{ fieldTitle }}</dt>
<dd class="key-value-pair__value">
  <label class="form__label form__label--radio">
    <input type="radio" value="0" name="{{ dataFieldName }}" data-bind="checked: {{ dataFieldName }}" class="" />
  n/a</label>
  <label class="form__label form__label--radio">
    <input type="radio" value="1" name="{{ dataFieldName }}" data-bind="checked: {{ dataFieldName }}" class="" />
  1</label>
  <label class="form__label form__label--radio">
    <input type="radio" value="2" name="{{ dataFieldName }}" data-bind="checked: {{ dataFieldName }}" class="" />
  2</label>
  <label class="form__label form__label--radio">
    <input type="radio" value="3" name="{{ dataFieldName }}" data-bind="checked: {{ dataFieldName }}" class="" />
  3</label>
  <label class="form__label form__label--radio">
    <input type="radio" value="4" name="{{ dataFieldName }}" data-bind="checked: {{ dataFieldName }}" class="" />
  4</label>
  <label class="form__label form__label--radio">
    <input type="radio" value="5" name="{{ dataFieldName }}" data-bind="checked: {{ dataFieldName }}" class="" />
  5</label>
</dd>
