<h3>Do you have access to basic facilities?</h3>
<dl class="key-value-pair">
  {{> forms/booleanInsufficient fieldTitle="Central Heating" dataFieldName="hasCentralHeating" }}
  {{> forms/booleanInsufficient fieldTitle="Hot Water" dataFieldName="hasHotWater" }}
  {{> forms/booleanInsufficient fieldTitle="Electricity" dataFieldName="hasElectricity" }}
  {{> forms/booleanInsufficient fieldTitle="Toilet" dataFieldName="hasToilet" }}
  {{> forms/booleanInsufficient fieldTitle="Shower/Bath" dataFieldName="hasShowerBath" }}
</dl>
<h3>How secure do you feel in the property?</h3>
<dl class="key-value-pair">
  {{> forms/fiveStarRating fieldTitle="How would you rate your feeling of security?" dataFieldName="feelingOfSecurityRating" lowRatingLabel="not secure" highRatingLabel="very secure" }}
  {{> forms/booleanRadio fieldTitle="Is there a lock on your room?" dataFieldName="hasLockOnRoom" }}
  {{> forms/booleanRadio fieldTitle="Is there a lock on the front door?" dataFieldName="hasLockOnFrontDoor" }}
  {{> forms/threeStarRating fieldTitle="Is there excessive noise and knocking on doors?" dataFieldName="noisyRating" }}
</dl>
<h3>How would you rate the property?</h3>
<dl class="key-value-pair">
  {{> forms/fiveStarRating fieldTitle="Food" dataFieldName="foodRating" }}
  {{> forms/fiveStarRating fieldTitle="Cleanliness" dataFieldName="cleanlinessRating" }}
  {{> forms/fiveStarRating fieldTitle="Condition of your room" dataFieldName="roomConditionRating" }}
</dl>
<h3>How would you rate the staff?</h3>
<dl class="key-value-pair">
  {{> forms/fiveStarRating fieldTitle="Friendly and welcoming" dataFieldName="staffFriendlinessRating" }}
  {{> forms/fiveStarRating fieldTitle="Helpful and supportive" dataFieldName="staffSupportivenessRating" }}
  {{> forms/fiveStarRating fieldTitle="Approachable when there is a complaint" dataFieldName="staffDealingWithProblemsRating" }}
  {{> forms/fiveStarRating fieldTitle="Address maintenance issues in a reasonable time" dataFieldName="staffTimelinessWithIssuesRating" }}
</dl>
<h3>How would you rate this accommodation overall?</h3>
<dl class="key-value-pair">
  {{> forms/fiveStarRating fieldTitle="Overall experience" dataFieldName="overallRating" }}
</dl>

{{#unless noWrapper}}<span class="cta">{{/unless}}
  <a class="btn btn--brand-{{brand}}{{#if btnClass}} {{btnClass}}{{/if}}" href="{{link}}">
    {{#if icon}}
      <span class="btn__icon">
        {{>icon name=this.icon}}
        <span class="btn__overlay"></span>
      </span>
    {{/if}}
    <span class="btn__text">{{{name}}}</span>
  </a>
  {{#if label}}
    <p class="cta__description">{{{label}}}</p>
  {{/if}}
{{#unless noWrapper}}</span>{{/unless}}
